In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# Load the Titanic dataset (make sure to adjust the path if necessary)
df = pd.read_csv('titanic.csv')  # This assumes 'titanic.csv' is in the same directory

# Display the first few rows of the dataset
df.head()

,PassengerId,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Survived
0,1,John Doe,male,22,1,0,A/5 21171,7.25,S,0
1,2,Jane Smith,female,38,1,0,PC 17599,71.83,C,1
2,3,George Brown,male,26,0,0,113803,53.10,S,0
3,4,Mary Johnson,female,35,1,0,PC 17597,51.86,C,1
4,5,Robert Davis,male,27,0,0,373450,8.05,S,0

In [7]:
# Check for missing values
missing_values = df.isnull().sum()
print("Missing values in each column:\n", missing_values)

# Check data types
data_types = df.dtypes
print("\nData types of each column:\n", data_types)

# Display summary statistics
summary_statistics = df.describe()
print("\nSummary statistics:\n", summary_statistics)

Missing values in each column:
 PassengerId    0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
Survived       0
dtype: int64

Data types of each column:
 PassengerId      int64
Name            object
Sex             object
Age              int64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
Survived         int64
dtype: object

Summary statistics:
        PassengerId        Age     SibSp  Parch       Fare  Survived
count     5.000000   5.000000  5.000000    5.0   5.000000  5.000000
mean      3.000000  29.600000  0.600000    0.0  38.418000  0.400000
std       1.581139   6.655825  0.547723    0.0  29.181629  0.547723
min       1.000000  22.000000  0.000000    0.0   7.250000  0.000000
25%       2.000000  26.000000  0.000000    0.0   8.050000  0.000000
50%       3.000000  27.000000  1.000000    0.0  51.860000  0.000000
75%       4.000000  35.000000  1.000000    0.0  53.100000  1.000000
max       5.000000  38.000000  1.000000    0.0  71.830000  1.000000

In [8]:
# Check for negative values in numeric columns
negative_values = df[df[['Age', 'Fare']] < 0]
print("Negative values:\n", negative_values)

Negative values:
    PassengerId Name  Sex  Age  SibSp  Parch Ticket  Fare Embarked  Survived
0          NaN  NaN  NaN  NaN    NaN    NaN    NaN   NaN      NaN       NaN
1          NaN  NaN  NaN  NaN    NaN    NaN    NaN   NaN      NaN       NaN
2          NaN  NaN  NaN  NaN    NaN    NaN    NaN   NaN      NaN       NaN
3          NaN  NaN  NaN  NaN    NaN    NaN    NaN   NaN      NaN       NaN
4          NaN  NaN  NaN  NaN    NaN    NaN    NaN   NaN      NaN       NaN

In [9]:
# Check for duplicate rows
duplicates = df[df.duplicated()]
print("Duplicate rows:\n", duplicates)

Duplicate rows:
 Empty DataFrame
Columns: [PassengerId, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Embarked, Survived]
Index: []

In [10]:
df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)